/*mobile first*/
.container {
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  color: #f6f5f6;
  margin: 0;
}

.uitleg {
  margin-left: 5vw;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  margin: 0;
}

.search {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
  display: block;
}
