/*Mobile first*/
.container {
  margin-top: 20px;
  width: 100vw;
  margin-top: 30px;
}

img {
  display: none;
}

/*READMORE-PART*/
.ReadMore {
  background-color: #1a1a1a;
  color: #f6f5f6;
  padding: 20px;
  width: 96vw;
  position: relative;
}

.ReadMore h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 10px 10px 10px;
}

.mat-expansion-panel {
  background-color: #424242;
  margin-right: 50px;
}

#comment {
  color: #f6f5f6;
}

.mat-expansion-panel h4 {
  color: #f6f5f6;
}

/*RATE-PART*/
.Rate {
  width: 96vw;
  background-color: #f6f5f6;
  color: #1a1a1a;
  padding: 20px;
}

.Rate h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

.Rate button {
  background-color: #1565c0;
  color: #f6f5f6;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.content {
  display: flex;
  flex-direction: column;
}

.rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.rating .mat-slider {
  width: 200px;
  position: absolute;
  right: 10px;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.comment .mat-form-field {
  width: 200px;
  position: absolute;
  right: 10px;
}

@media screen and (min-width: 800px) {
  .container {
    background-image: url(../../assets/teslacar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .ReadMore {
    width: 100%;
    background-color: #f6f5f6;
    color: #1a1a1a;
  }

  .mat-expansion-panel,
  #h4,
  #comment {
    color: #1a1a1a;
  }

  .mat-expansion-panel {
    background-color: #f6f5f6;
  }

  .Rate {
    width: 100%;
    right: 0;
    margin-right: 15px;
  }

  .container {
    margin-top: 0px;
    width: 100vw;
    height: 94vh;
    position: relative;
  }

  .form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    right: 50px;
    top: 0;
  }
}

@media screen and (min-width: 1500px) {
  img {
    height: 100vh;
    display: block;
    width: 60%;
  }

  .form {
    height: 100vh;
  }

  .Rate {
    height: 30%;
    padding-left: 40px;
  }

  .ReadMore {
    height: 70%;
    padding-left: 40px;
  }
}
