/*Mobile first*/
.container {
  margin-top: 20px;
  width: 100vw;
  margin-top: 30px;
}

/*READMORE-PART*/
.ReadMore {
  background-color: #1a1a1a;
  color: #f6f5f6;
  padding: 20px;
  width: 96vw;
  position: relative;
}

.ReadMore h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 10px 10px 10px;
}

.mat-expansion-panel {
  background-color: #424242;
  margin-right: 50px;
}

.mat-expansion-panel h4 {
  color: #f6f5f6;
}

/*RATE-PART*/
.Rate {
  width: 96vw;
  background-color: #f6f5f6;
  color: #1a1a1a;
  padding: 20px;
}

.Rate h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;

}

.Rate button {
  background-color: #1565C0;
  color: #f6f5f6;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.content {
  display: flex;
  flex-direction: column;
}

.rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.rating .mat-slider {
  width: 310px;
  position: absolute;
  right: 10px;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.comment .mat-form-field {
  width: 300px;
  position: absolute;
  right: 10px;
}


@media screen and (min-width:800px) {
  .container {
    margin-top: 0px;
    width: 100vw;
    height: 94vh;
    background-image: url(../../assets/tokyo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }

  .ReadMore {
    width: 60vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  .Rate {
    width: 60vw;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width:1100px) {
  .Rate {
    width: 45vw;
  }

  .ReadMore {
    width: 45vw;
  }
}
