/*Mobile first*/
.container {
  width: 100vw;
  margin-top: 30px;
}

img {
  display: none;
}

/*READMORE-PART*/
.ReadMore {
  background-color: #1a1a1a;
  color: #f6f5f6;
  padding: 20px;
  width: 96vw;
  position: relative;
}

.ReadMore h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 10px 10px 10px;
}

.mat-expansion-panel {
  background-color: #424242;
  margin-right: 50px;
}

#comment {
  color: #f6f5f6;
}

.mat-expansion-panel h4 {
  color: #f6f5f6;
}

/*RATE-PART*/
.Rate {
  box-sizing: border-box;
  width: 100vw;
  background-color: #f6f5f6;
  color: #1a1a1a;
  padding: 20px;
}

.Rate h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

.Rate button {
  background-color: #1565c0;
  color: #f6f5f6;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.content {
  display: flex;
  flex-direction: column;
}

.rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.rating .mat-slider {
  width: 200px;
  position: absolute;
  right: 10px;
}

.commentClass {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.commentClass .mat-form-field {
  width: 200px;
  position: absolute;
  right: 10px;
}

@media screen and (min-width:800px) {
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    margin-top: 0;
    background-image: url(../../assets/tokyo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .form {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f6f5f6;
  }

  .Rate {
    width: 100%;
  }

  .ReadMore {
    width: 100%;
    flex-grow: 2;
  }

}

@media screen and (min-width:1500px) {

  img {
    width: 60%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}
