/*Mobile first*/
.container {
  width: 100vw;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

.container h1 {
  font-weight: bold;
  font-size: 2em;
}

img {
  display: none;
}

/*READMORE-PART*/
.ReadMore {
  box-sizing: border-box;
  background-color: #1a1a1a;
  color: #f6f5f6;
  width: 100vw;
  position: relative;
  padding: 20px;
}

.ReadMore h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 10px 10px 10px;
}

.mat-expansion-panel {
  background-color: #424242;
  margin-right: 50px;
  margin-top: 20px;
}

#comment {
  color: #f6f5f6;
}

.mat-expansion-panel h4 {
  color: #f6f5f6;
}

/*RATE-PART*/
.Rate {
  box-sizing: border-box;
  width: 100vw;
  background-color: #f6f5f6;
  color: #1a1a1a;
}

.Rate h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

.Rate h2 {
  text-align: center;
}

.Rate button {
  background-color: #1565c0;
  color: #f6f5f6;
  width: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.rating {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
}

.rating .mat-slider {
  width: 80%;
  position: absolute;
  margin-top: 20px;
}

.commentClass {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
}

.commentClass .mat-form-field {
  width: 80%;
  position: absolute;
  margin-top: 20px;
}

#buttonRate {
  margin-top: 60px;
}

@media only screen and (min-width : 800px) {
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    margin-top: 0;
    background-image: url(../../../assets/tokyo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .form {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f6f5f6;
  }

  .Rate {
    width: 100%;
  }

  .ReadMore {
    width: 100%;
    padding-top: 50px;
    flex-grow: 2;
  }

}

@media only screen and (min-width : 1500px) {

  img {
    width: 60%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}
