/*mobile First*/
.menubarButtons {
  display: none;
}

.container {
  height: 20vh;
  width: 100vw;
}

h1 {
  color: #f6f5f6;
  margin: 10px;
}

.unfold_more {
  color: #f6f5f6;
  position: fixed;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: rgb(27, 89, 118);
}

/*--DESKTOP--*/
@media only screen and (min-width: 800px) {
  .container {
    top: 0;
    background-image: url(../../assets/car1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: unset;
    width: 100vw;
    height: 100%;
  }

  h1 {
    margin: 0;
    padding-top: 10vh;
    color: rgb(27, 89, 118);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 48px;

  }

  #toggle {
    display: none;
  }

  .menubarButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    height: 20%;
    width: 100%;
    align-content: center;
    margin-top: 95vh;
    position: fixed;
    background-color: rgb(26, 26, 26);
    z-index: 100;
  }

  a {
    color: #f6f5f6;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 31px;
    padding: 10;
  }

  a:hover {
    color: rgb(27, 89, 118);
  }
}
