<!--Small screens-->
<div class="containersm">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="white">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a href="#compareCarssm">COMPARE CARS</a>
    </button>
    <button mat-menu-item disabled>
      <a href="#planMyRoutesm">PLAN MY ROUTE</a>
    </button>
    <button mat-menu-item>
      <a href="#loginsm">LOG IN</a>
    </button>
    <button mat-menu-item>
      <a href="#registreersm">REGISTREER</a>
    </button>
  </mat-menu>
</div>


<!--Large screens-->
<div class="containerlg">
  <p></p>
  <h1>Following the future is not always easy.</h1>
  <div class="menubar">
    <a href="#compareCarslg">COMPARE CARS</a>
    <a href="#planMyRoutelg">PLAN MY ROUTE</a>
    <a href="#loginlg">LOG IN</a>
    <a href="#registreerlg">REGISTREER</a>
  </div>
