<div class="container" *ngIf="(cars$ | async);else loadingOrError">
  <h1 id="compareCar">Compare cars</h1>
  <div class="swipe">
    <button (click)="swipeLeft()" mat-icon-button id="left">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="swipe-box" (swipeleft)="swipeLeft()" (swiperight)="swipeRight()">
      <div>
        <app-car [car]="currentCar"></app-car>
      </div>
    </div>
    <button (click)="swipeRight()" mat-icon-button id="right">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<ng-template #loadingOrError>
  <mat-card>
    <mat-error *ngIf="(loadingError$ | async) as errorMessage; else loading">
      Error loading the recipe list: {{ errorMessage }}. <br />
      Please try again later.
    </mat-error>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </mat-card>
</ng-template>
