<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Registreer</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Email" type="text" #username>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="text" #password>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm password" type="text" #confirmPassword>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button>
          Registreer
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
