/*---Mobile first---*/
.desktop {
  display: none;
}

.mobile {
  background: transparent;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.mobile h1 {
  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
  color: #f6f5f6;
  margin: 0;
  padding-bottom: 15px;
}

#left,
#right {
  height: 30px;
  width: 30px;
}

@media only screen and (min-width: 800px) {
  .container {
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/bgCompareCar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .mobile {
    background-color: rgba(26, 26, 26, 0.5);
    height: 50vh;
  }

  .desktop {
    display: none;
  }

  .mobile h1 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    color: #f6f5f6;
    padding: 40px;
  }

  #left,
  #right {
    height: 50px;
    width: 50px;
  }

  #left {
    margin-left: 15px;
  }

  #right {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1100px) {
  .mobile {
    display: none;
  }


  .desktop h1 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    color: #f6f5f6;
    margin: 0;
    padding: 40px;
  }

  .desktop {
    display: block;
    background-color: rgba(26, 26, 26, 0.5);
    height: 50%;
  }
}
