<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Log In</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Email" type="text" #username>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="text" #password>
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button (click)="Validate(username,password)">
          Log In
        </button>
        <a mat-raised-button>
          Nog geen account?
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
