/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

@font-face {
  font-family: Quicksand;
  src: url('Quicksand-Regular.otf');
}

@font-face {
  font-family: Quicksand;
  font-weight: lighter;
  src: url('Quicksand-Light.otf');
}

@font-face {
  font-family: Quicksand;
  font-weight: bold;
  src: url('Quicksand-Bold.otf');
}

body {
  font-family: 'Open Sans', sans-serif;
  /*background-image: url(assets/bgmobile.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
