/*--MOBILE FIRST*-*/
.container {
  width: 100vw;
}

h1 {
  color: #1a1a1a;
  margin: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #f6f5f6;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  width: 100%;
  background-color: #1565C0;
  display: inline-block;
  margin: 10px auto;
}

a:hover {
  color: #1a1a1a;
}

/*--DESKTOP--*/
@media only screen and (min-width : 800px) {
  .container {
    height: 100vh;
    background-image: url("../../assets/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  h1 {
    padding-top: 80vh;
    font-size: 48px;
    margin: 0;
    color: #f6f5f6;
  }

  p {
    color: #f6f5f6;
  }

}
